#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme{
    background-color:#1c1c1c !important;
    border-top:0 !important;
    z-index:100; }

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p{
    font-family: Montserrat,sans-serif !important;
    font-size:12px !important; }

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton{
    border:1px solid #fff;
    background-color:#231d4b !important;
    -webkit-border-radius:0;
    border-radius:0;
    height:42px !important;
    width:136px !important;
    color:#fff; }

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton.moove-gdpr-infobar-allow-all:hover{
    background:#fff !important;
    color:#7e1613 !important; }

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p span.change-settings-button:hover{
    color:#7e1613 !important; }

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton{
    font-family: Montserrat,sans-serif;
    letter-spacing:0.3px !important; }

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content p{
    font-family: Montserrat,sans-serif !important;
    letter-spacing:0.3px !important;
    font-size:14px !important;
    line-height:27px !important;
    font-weight:400; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content{
    -webkit-border-radius:0 !important;
    border-radius:0 !important; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main h3.tab-title{
    font-family: Montserrat,sans-serif !important;
    font-weight:600 !important;
    font-size:38px !important;
    color:#000 !important; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-conent p{
    font-family: Montserrat,sans-serif !important;
    font-size:20px !important; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button{
    font-family: Montserrat,sans-serif !important; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton{
    font-family: Montserrat,sans-serif !important; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton{
    -webkit-border-radius:0;
    border-radius:0; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button{
    -webkit-border-radius:0;
    border-radius:0; }

#moove_gdpr_cookie_modal .switch .slider::after{
    font-family: Montserrat,sans-serif !important; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i{
    -webkit-border-radius:0 !important;
    border-radius:0 !important; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close{
    top:0;
    right:0; }

.lity{
    z-index:10000!important;
}

.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i{
    background-color:#7e1613 !important;
    border-color:#7e1613 !important;
    color:#fff !important; }

.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover{
    color:#fff !important; }

#Layer_gdpr{
    width:220px;
    height:auto; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content{
    background-color:#f3f3f3; }

.moove-gdpr-modal-content .moove-gdpr-modal-left-content{
    -webkit-border-radius:0 !important;
    border-radius:0 !important; }
#moove-gdpr-menu .menu-item-on.menu-item-privacy_overview{
    margin-bottom:20px; }

#moove-gdpr-menu li .moove-gdpr-tab-nav{
    border:2px solid #fff;
    background:#999999 !important; }

#moove-gdpr-menu li .moove-gdpr-tab-nav i,
#moove-gdpr-menu li .moove-gdpr-tab-nav span,
.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button i{
    color:#fff !important; }

.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button i,
.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button span{
    color:#fff !important; }

.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button{
    background-color:#7e1613 !important; }

.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content::before{
    background-color:#7e1613; }

.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton{
    color:#fff;
    background-color:#7e1613 !important;
    border:0 !important; }

.lity-content #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton:hover{
    color:#fff !important;
    background-color:#7e1613 !important;
    border:0 !important; }

#moove_gdpr_cookie_modal .switch input:checked + .slider{
    background-color:#34c3af; }

#moove_gdpr_cookie_modal .switch .slider::before{
    width:24px;
    height:24px;
    bottom:2px;
    left:2px; }

#moove_gdpr_cookie_modal .switch input:checked + .slider::after{
    color:#34c3af; }

#moove_gdpr_cookie_modal .switch .slider{
    background-color:#7e1613; }

#moove_gdpr_cookie_modal .switch .slider::after{
    color:#7e1613; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a{
    color:#fff; }

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content{
    -webkit-box-shadow:none !important;
    box-shadow:none !important; }
    #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo-holder img{
        max-width: 50%;
    }