progress,
sub,
sup {
    vertical-align: baseline
}

button,
hr,
input {
    overflow: visible
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    overflow: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.15
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}


@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Light.woff2') format('woff2'),
        url('fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Semi';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: url('fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}



html {
    box-sizing: border-box;
   width: 100%;
   height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-weight: 300;
    font-family: 'Montserrat';
       width: 100%;
   height: 100%;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;

}
.in{
    margin: 0 auto;
        width: 810px;
    height: 577px;
}
.line {
    margin-bottom: 55px;
    position: relative;
    background-image: url('line.png');
    width: 810px;
    height: 103px;
    margin-top: 68px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 34px;
  padding-top: 9px;
  line-height: 40px;
}

.title span {
    font-family: 'Montserrat Semi';
    font-weight: 600;
}

.uzsk {
    width: 415px;
    margin: 0 auto;
}

.inf {
    color: #fffefe;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
}

.btn {
    position: relative;
}

input {
    border: 1px solid #555;
    background-color: #FFF;
    width: 100%;
    height: 75px;
color: #000;
font-size: 14px;
font-weight: 300;
line-height: 14px;
    padding: 30px;
    padding-right: 103px;
}

input:focus {
    border: 1px solid #000;
    outline: none;
}

#send {
    position: absolute;
    right: 1px;
    top: 1px;
    display: block;
    background-color: #a9d3a5;
    border-left: 1px solid #555;
    width: 73px;
    height: 73px;
    background-image: url('rod.png');
    background-position: center;
    background-repeat: no-repeat;
}

.rsp {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    display: none;
    line-height: 16px;
    text-align: left;
    
}

.error input {
    color: #f11232;
    border-color: #a2272c;
}

.loader {
    position: absolute;
    left: 19px;
    top: 21px;
    display: none;
    text-indent: -9999em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #a9d3a5;
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #a9d3a5;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.sekeminga {
  display: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}

.sekeminga span {
font-family: 'Montserrat Semi';
}
.nesekeminga{
  display: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
}
.nesekeminga span {
    font-weight: 700;
}
.darkarta{
  margin-top: 5px;
  border-width: 1px;
border-color:  #ffffff;
border-style: solid;
background-color:  #9e2323;
width: 318px;
margin: 5px auto;
color:  #ffffff;
font-size: 20px;
text-decoration: none;
padding: 0px 40px;
font-weight: 300;
display: block;
line-height: 73px;
text-align: center;
text-transform: uppercase;
}


/* new !!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */




.additionalSubmit {
    display: block;
    width: 415px;
    margin: 0 auto;

}
.wpcf7-form-control-wrap.checkbox-661{
    background-color: #555;
    padding: 15px 10px;
    display: block;
}
.additionalSubmit.error .wpcf7-form-control-wrap.checkbox-661{

    background-color: #9e2323;
}


.additionalSubmit label {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
font-size: 13px;
line-height: 15px;
font-weight: 300;
}

.additionalSubmit .popupCheckbox {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  flex-shrink: 0;
  margin-right: 10px;

}

.additionalSubmit .popupCheckbox .border, .additionalSubmit .popupCheckbox .check {
    width: 100%;
    height: 100%;
    position: absolute;
}

.additionalSubmit .popupCheckbox .border {
    border: 1px solid #fff;
    border-radius: 3px;
}

.additionalSubmit .popupCheckbox .check {
    display: none;
}

.additionalSubmit input[type="checkbox"] {
    display: none;
}

.additionalSubmit input[type="checkbox"]:checked + .popupCheckbox .check  {
    display: block;
}

.additionalSubmit .popupCheckbox .check::before,
.additionalSubmit .popupCheckbox .check::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 14px;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.additionalSubmit .popupCheckbox .check::before {
    transform: rotate(45deg) translateX(2px) translateY(-4px);
}

.additionalSubmit .popupCheckbox .check::after {
    height: 8px;
    transform: rotate(-45deg) translateX(-2px) translateY(-1px);
}

.wpcf7-list-item-label {
    max-width: 90%;
    color: #fff;
}

.wpcf7-list-item-label a {
    color: #fff;
}

.rsp {
margin-bottom: 10px;
  background-color: #555;
  padding: 10px 15px;
}

@media (max-width: 640px) {

    .line {
        background-image: url('line.png');
        height: auto;

        padding: 20px 10px;
    }

    input {
        height: 40px;
        line-height: 16px;
        padding: 5px;
        padding-right: 103px;
    }

    #send {
        height: 38px;
    }
}

@media (max-width: 810px) {

    .in {
        max-width: 810px;
        height: 480px;
        width: 100%;
    }

    .line {
        max-width: 810px;
        width: 100%;
        min-height: 120px;
        margin-top: 60px;
        margin-bottom: 20px;
        padding: 20px 10px;
        background-repeat: no-repeat;
        background-color: #f6ae94;
        background-position: left center;
    }

    .title {
        position: relative;
        top: auto;
        left: auto;
        margin-top: 0;
    }

    .uzsk {
        max-width: 415px;
        width: 100%;
        padding: 0 10px;
    }

    .additionalSubmit {

        width: 100%;
        max-width: 415px;
        padding: 0 10px;
    }

    .rsp {
        padding: 5px 10px;
    }

    .sekeminga {
        padding: 0 10px;
    }
}
